.container {
  max-width: 1355px;
  height: auto;
  position: relative;
  margin-left: 120px;
  margin-right: 70px;
  /* color: #cbcbcb; */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  top: 12px;
  position: relative;
}

.icon {
  display: flex;
  margin-top: 25px;
  margin-right: 150px;
  gap: 10px;
  font-size: 30px;
  cursor: pointer;
  color: #686b78;
  transform: translateY(-50%);
  /* z-index: 10; */
}

.imaged {
  /* display: block; */
  position: relative;
  width: 100%;
  gap: 10px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  transition-duration: 500ms;
  margin-top: 50px;
}

.imaged::-webkit-scrollbar {
  display: none;
}

.imageSection {
  display: flex;
  flex-direction: row;
  max-width: 1335px;
  position: relative;
  gap: 10px;
  transition-duration: 500ms;
  width: max-content;
}

.imageCard {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 3px;
  width: 250px;
  flex-shrink: 0;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.imageCard:hover {
  transform: translateY(-10px);
}

.image {
  /* width: 230px;
  height: auto; */
  width: 250px;
  height: 250px;
  border-radius: 10px;
  border-radius: 10%;
}

.names {
  margin-top: 10px;
  font-size: 18px;
}

.heading {
  margin-top: 10px;
  font-size: 15px;
  position: relative;
  cursor: pointer;
}

.rating {
  margin-top: 10px;
  font-size: 18px;
  color: #686b78;
  cursor: pointer;
}

.sub {
  margin-top: 10px;
  font-size: 20px;
  color: #686b78;
  cursor: pointer;
}

.place {
  font-size: 20px;
  color: #686b78;
  cursor: pointer;
}
